header {
  grid-area: header;
  background-color: lightblue;
}

main {
  grid-area: main;
  background-color: yellow;
}

body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas: 
    "header header header"
    "main   main   main";
}

@media (prefers-color-scheme: dark) {  
  body {
    background-color: darkblue;;
  }
  header {
    background-color: darkblue;
    color: white;
  }
  main {
    background-color: yellow;
  }
  .trip {
    background-color: greenyellow;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: lightblue;
  }
  header {
    background-color: lightblue;
  }
  main {
    background-color: lightyellow;
  }
  .trip {
    background-color: lightgreen;
  }
}