/* === DO NOT TOUCH THIS PIECE === */
.centered {
    margin: 0 auto;
    text-align: center;
}

.transition {
    display: inline-block;
    width: 200px;
    background: lightblue;
    border: black 3px solid;
    border-radius: 10px;
    text-align: center;
    line-height: 100px;
}
/* === / === */

/* Add your styles here */
